<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" providerName="System.Data.SqlClient"
			connectionString="Data Source=EPBYMINW6270\SQLEXPR2012X64;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=true;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True; Database=Northwind" />
  </connectionStrings>
</configuration>